.projects__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.projects__items {
  width: 100%;
  display: flex;
}

.projects-item__title {
  @include font(18px, 700, 36px);
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.projects-item__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.project-text__wraper {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 24px 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.project-link {
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
  display: flex;
  flex-direction: column;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-link__text {
  transform: translateY(0);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  color: var(--main-title-color);
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  padding: 64px 23px;
  transition: transform var(--transition-duration)
    var(--transition-timing-function);

  .project-link:hover &,
  .project-link:focus & {
    transform: translateY(-100%);
    transition: transform var(--transition-duration)
      var(--transition-timing-function);
  }
}

.project-link__wrap {
  position: relative;
  overflow: hidden;
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
}
.project-link__img {
  width: 100%;
}

.projects__items:not(:last-child) {
  margin-bottom: var(--tipical-margin);
}

@media screen and (max-width: 479px) {
  .project-link__text {
    @include font(12px, 400, 20px);
    padding: 44px 24px;
  }
}
@media screen and (min-width: 768px) {
  .projects__items {
    flex-basis: calc(100% / 2 - 30px);
  }
  .projects__list {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) and (max-width: 1119px) {
  .projects__items:nth-child(2n) {
    margin-left: var(--tipical-margin);
  }
}

@media screen and (min-width: 1200px) {
  .projects__items {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
  }
  .projects__list {
    margin-right: -30px;
  }
}
