@media screen and (max-width: 1119px) {
  .works {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .works {
    padding-top: 0;
  }
  .works-title {
    color: var(--title-color);
    margin-bottom: 50px;
  }
  .works-item {
    position: relative;

    &:not(:nth-child(3n)) {
      margin-right: var(--tipical-margin);
    }
  }
  .work-item-text {
    @include font(14px, 700, 16px);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
  }
  .work-item-wrap {
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
