.link {
  text-decoration: none;

  &.active {
    color: var(--accent-color);

    &::before {
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      content: "";
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
      display: block;
    }
  }
}
