.social-list__link {
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.social-list {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link__icon {
  transition: fill var(--transition-duration) var(--transition-timing-function);
  fill: #afb1b8;

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: var(--main-title-color);
  }
}
