:root {
  --header-color: #757575;
  --main-title-color: #ffffff;
  --title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --btn-color: #212121;
  --tipical-margin: 30px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
$main-font-family: "Roboto", Arial, sans-serif;
$sec-font-family: "Raleway", Arial, sans-serif;
